#header {
    background-color: white;
    padding-top: 20px;
    box-shadow: 0 .2rem 2rem 0 rgba(60,60,60,.15) !important;
}

#headerIcon {
    /*
    z-index: -1;
    content: '🥥';
    font-size: 128px;
    */
}

#headerIconCaption {
    font-size: xx-small;
}

#headerNav {
    margin-top: 15px;
}

#searchButton {
    margin-left: 5px;
}

#searchInput {
}

#content {
    padding-top: 16%;
}

h {
    margin-bottom: 10px;
}

#headerNav .nav-tabs {
    border-bottom: none !important;
}

.card {
    width: 16rem;
    margin: 2rem;
}

.card-img {
    min-height: 100px;
    fill: dimgrey;
}