// coconut variable overrides

$grid-breakpoints: (
        xxl: 1440px
);

$container-max-widths: (
        xxl: 1400px
);

$theme-colors: (
        "primary": #004e8f
);

$enable-rounded: false;
$enable-shadows: true;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// CSS
#header {
  background-color: white;
  padding-top: 15px;
  box-shadow: 0 .2rem 2rem 0 rgba(60, 60, 60, .15) !important;
}

#headerIconCaption {
  font-size: xx-small;
}

#headerNav {
  margin-top: 15px;
}

#searchButton {
  margin-left: 5px;
}

#searchInput {
}

.content {
  padding-top: 215px;
}

h {
  margin-bottom: 10px;
}

#headerNav .nav-tabs {
  border-bottom: none !important;
}

.card.cardBrowserItem {
  width: 16rem;
  margin: 2rem;
}

.compoundCardItem {
  width: 100%;

  &::before {
    display: block;
    content: " ";
    margin-top: -215px;
    height: 215px;
    visibility: hidden;
    pointer-events: none;
  }
}

.card table tr td {
  font-size: small;
  border: none;
  padding: 0.15rem;
  margin-bottom: 0;
}

.card {
  box-shadow: 0 .2rem .5rem 0 rgba(60,60,60,.15) !important;
}

.compoundCardItem .table tr td:first-child {
  width: 34%;
}

.tooltip-inner {
  max-width: 400px;
}

#compoundCardSidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 215px;
}